<template>
  <div id="app">
    <v-toolbar dark>
      <v-toolbar-items >
      <div id="nav">
        <v-btn clipped-left flat><router-link to="/">Home</router-link></v-btn>
        <v-btn clipped-left flat><router-link to="/about">About</router-link></v-btn>
        <v-btn clipped-left flat><router-link to="/shane">Shane's Page</router-link></v-btn>
      </div>
      </v-toolbar-items>
    </v-toolbar>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
    &:link {
      text-decoration: none;
    }
  }
}
</style>
